body{
  padding: 0;
  margin: 100px;
  background: #90caf9;
  justify-content: center;
  align-items: center;
  display: flex;
}
h3{
  margin: 15px;
padding-top: 15px;
  
}
.box{
  background-color: white;
  width: 520px;
  border-radius: 7px;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  
  
}
.nn{
  font-size:25px;
  font-style: bold;
}
input{
  width: 230px;
  height: 30px;
  border-radius: 5px;
}
.boxx{
  justify-content: space-between;
}
.input-type{
    justify-content: space-between;
    padding: 10px;
    float: left;

}
.buttonb{
  border: none;
  background-color: #00c853;
  padding: 3px;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  
  
}